.past-events {
  padding: 20px;
}

.add-event-btn,
.delete-event-btn {
  font-family: "Ubuntu", sans-serif;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.delete-event-btn {
  background-color: #ed9569;
  color: #fcefec;
}

.past-events input {
  flex-direction: column;
  background-color: transparent;
  border: 2px solid #d2f189;
  border-radius: 20px;
  margin: 20px;
  padding: 10px 40px;
  max-width: 100%;
  color: #d2f189;
}

.past-events input::placeholder {
  color: #fcefe6;
  text-align: center;
  font-size: .9rem;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.event {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fcefe6;
  border-radius: 20px;
  width: 100%;
}

.event-overlay {
  flex: 1;
  text-align: left;
  margin-left: 50px;
}

.event-title {
  margin-bottom: 5px;
  color: #1e1b14;
}

.event-date {
  margin-bottom: 10px;
}

.event-images-scattered {
  display: flex;
  gap: 10px;
}

.event-images-scattered img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fcefe6;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.modal-content h2 {
  color:#1e1b14;
}

.close-btn {
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.event-images-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-images-grid img {
  width: 200px;
  margin: 10px;
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.submit-btn {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.going {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wiggle {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
